# --- Python Standard ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- VS Code ---
.vscode/
*.code-workspace

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- FreeCAD ---
*.FCStd
*.FCStd1
*.FCBak

# --- Private Dokumentation (User Request) ---
README_private.md
GEMINI*.md